<!-- Tugas 8 - Pengenalan Vue JS -->
<!-- Maria Artha Febriyanti Turnip -->
<!-- Rabu, 16 Maret 2022 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>{{ "Nilai a : " + a  }}</h1>
    <h1>{{ "Rata-rata : " + rata2}}</h1>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var vm = new Vue ({
        el: '#app',
        data: {
            a : 0,
            rata2 : 0,
            jumlah : 0,
            count : 0
        },
        methods: {
            openForm : function(){
                // Loop akan berjalan sampai jumlah bernilai kurang dari sepuluh (kalau pakai sama dengan, saat jumlah bernilai 10 maka program akan kembali jalan)
                while (this.jumlah < 10 ) {
                this.a = prompt("Masukkan nilai a") 
                // Menjumlahkan nilai input a
                this.jumlah = this.jumlah + parseInt(this.a)
                this.count += 1
                // Merata-ratakan nilai jumlah dengan count (n)
                } this.rata2 = this.jumlah / this.count
            }
        }
    })

</script>

</body>
</html>