<!-- Tugas 8 - Perkenalan VueJS -->
<!-- Maria Artha Febriyanti Turnip -->
<!-- Rabu, 16 Maret 2022 -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="app">
    {{ fullName }}
</div>

<!-- Skrip untuk memasukkan vueJS ke HTML -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var vm = new Vue ({
        el: '#app',
        // Properti Data
        data: {
            firstName : 'Tuanku',
            lastName : 'Imam Bonjol'
        },
        // Properti pengevaluasian nilai
        computed: {
            fullName: {
                // Fungsi get akan menerima input dari data dan digabungkan
                get : function (){
                    return `${this.firstName} ${this.lastName}`
                },
                // Fungsi set akan menerima input nama dari nama yang diketikkan di console browser
                set : function(nama){
                    // Nama akan displit berdasarkan spasi
                    let array = nama.split(" ")
                    // Nama akan tersebut disimpan dalam firstName dan lastName
                    this.firstName = array[0]
                    this.lastName = `${array[1]} ${array[2]}`
                    }
            }
        },
        methods : {}
    })

</script>

</body>
</html>