/* Program style CSS untuk biodata Artha
oleh Maria Artha Febriyanti Turnip
Rabu, 9 Maret 2022 */

    /* Pakai titik di awal nama heading */
    .awal{
        font-family:'Trebuchet MS';
        color: #f9ed5b;
        font-weight: 1000;
        font-size:1.75cm;
        background-color: #63b62b;
        text-align: center;
    }
    .biodata{
        top: 100 px;
        left: 200 px;
        font-family:'Trebuchet MS';
        font-size:0.6cm;
        font-weight:1000;
        color: #539725;
        background-color: #f9ed5b;
        text-align:left;
    }
    img{
        width: 150px;
        height: 160px;
    }