<!-- Tugas 9 10 - Form Input Binding -->
<!-- Maria Artha Febriyanti Turnip -->
<!-- Jumat, 18 Maret 2022 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	
<div class="container">
	<div id="app">
        <!-- List buku baru muncul saat diketik satu huruf di bloknya -->
		<input v-model="query" placeholder="ketikkan kata kunci" autofocus required>
		<li
			v-for="(item, index) in result"
			v-bind:key="item.paket"
			v-bind:data-index="index"
			>{{ item.paket }}
		</li>
	</div>
	</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
		new Vue({
			el: "#app",
			data: {
				query:"",
				list:[
					{ paket: "Kalkulus Dasar"},
					{ paket: "Fisika Dasar"},
					{ paket: "Aljabar Linier Elementer"},
					{ paket: "Aljabar Abstrak"},
					{ paket: "Algoritma Pemrograman"}
				],
				isSearching:false,
				result: []
			},
			watch: {
				query: function () {
					var vm = this
					this.isSearching = true;
					setTimeout(function(){
 
						vm.result = vm.list.filter(function (item){
							return item.paket.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
						})
					}, 100)
				}
			},
		});
	</script>
</body>
</html> 
