<template>
<div>
    <v-card v-if="blog.id">
        <v-img :src="blog.photo" ? apiDomain + blog.photo : 'https://dummyimage.com/16:9x1080' class="white-text" height="200px">
        <v-card-title class="fill-height align-end" v-text="blog.title">
        </v-card-title>
        </v-img>
    <v-card-text>
        <v-simple-table dense>
    
        </v-simple-table>
</template>



<script>
export default {
    data: () => ({
        blog: {},
        apiDomain : 'http://demo-api-vue.sanbercloud.com',
    }),

    methods: {
        go() {

        let { id } = this.$route.params;

        const config = {
            method : 'get',
            url : `${this.apiDomain}/api/v2/blog/${id}`
        }

            this.axios(config)
            .then(response => {
                let { blog } = response.data;
                console.log(blog.photo)
                this.blog = blog;
            })
            .catch(error => {

                console.log(error);
            }); 
        }
    },

    created() {
        this.go();
    },
};

</script>